In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df_iris = pd.read_csv("iris.csv", names=['SepLen','SepWid','PetLen','PetWid','Species'])
df_iris

     SepLen  SepWid  PetLen  PetWid         Species
0       5.1     3.5     1.4     0.2     Iris-setosa
1       4.9     3.0     1.4     0.2     Iris-setosa
2       4.7     3.2     1.3     0.2     Iris-setosa
3       4.6     3.1     1.5     0.2     Iris-setosa
4       5.0     3.6     1.4     0.2     Iris-setosa
..      ...     ...     ...     ...             ...
145     6.7     3.0     5.2     2.3  Iris-virginica
146     6.3     2.5     5.0     1.9  Iris-virginica
147     6.5     3.0     5.2     2.0  Iris-virginica
148     6.2     3.4     5.4     2.3  Iris-virginica
149     5.9     3.0     5.1     1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
eng_conn = create_engine("mysql+pymysql://lewis:dockerVBox@172.17.0.2:3306/Iris")

In [7]:
df_iris.to_sql("Iris", con=eng_conn, if_exists="replace")

150

In [8]:
df_iris_tmp = pd.read_sql("Iris", con=eng_conn)
df_iris_tmp

     index  SepLen  SepWid  PetLen  PetWid         Species
0        0     5.1     3.5     1.4     0.2     Iris-setosa
1        1     4.9     3.0     1.4     0.2     Iris-setosa
2        2     4.7     3.2     1.3     0.2     Iris-setosa
3        3     4.6     3.1     1.5     0.2     Iris-setosa
4        4     5.0     3.6     1.4     0.2     Iris-setosa
..     ...     ...     ...     ...     ...             ...
145    145     6.7     3.0     5.2     2.3  Iris-virginica
146    146     6.3     2.5     5.0     1.9  Iris-virginica
147    147     6.5     3.0     5.2     2.0  Iris-virginica
148    148     6.2     3.4     5.4     2.3  Iris-virginica
149    149     5.9     3.0     5.1     1.8  Iris-virginica

[150 rows x 6 columns]